[2015-09-14 01:55] mikebronner opened #1 "Add Unit Tests"

[2015-09-14 01:55] mikebronner opened #2 "Refactor!"

[2015-09-24 22:28] emergingdzns opened #3 "Unable to install with Composer"
When I attempt to install the package via the composer command in the Readme file, I get the following:
[code]

[2015-09-24 22:35] mikebronner commented on #3
Hi @emergingdzns :)

Did you include the forward-slash?

[code]

[2015-09-24 22:38] emergingdzns commented on #3
Ah ha! That did it. Thanks!!

[2015-09-24 22:38] #3 closed

[2015-09-24 22:54] emergingdzns opened #4 "Event Handler Error"
Now that it's installed, before adding anything to controllers or anything (only did the composer install and added the provider row to the app config file providers array.

Now I'm getting the following error:
[code]

Any ideas?

[2015-09-24 23:25] mikebronner commented on #4
This appears to be a result of nat having timestamps on your users table -- is that a correct assumption? The created_at field (if it exists) appears to be null. I will add a check for that to prevent the error. Can you do the following just before line 63 and after line 62 to test:

[code]

[2015-09-24 23:33] mikebronner commented on #4
If you can confirm that, I will post a new release so you can run `composer update` to get the fix. :) Thanks!

[2015-09-25 00:01] emergingdzns commented on #4
I can't even find that file man. Where is it supposed to be located?

[2015-09-25 00:03] mikebronner commented on #4
Should be in `/vendor/genealabs/laravel-mixpanel/src/Listeners/LaravelMixpanelEventHandler.php`

[2015-09-25 00:13] emergingdzns commented on #4
User {#237 ▼
  #primaryKey: "user_id"
  #table: "users"
  +timestamps: false
  -visibleTwitterPredicateCategories: null
  -visibleTwitterTopics: null
  -visibleNPI: null
  #connection: null
  #perPage: 15
  +incrementing: true
  #attributes: array:10 [▶]
  #original: array:8 [▶]
  #relations: []
  #hidden: []
  #visible: []
  #appends: []
  #fillable: []
  #guarded: array:1 [▶]
  #dates: []
  #dat

[2015-09-25 00:15] mikebronner commented on #4
Perfect, thanks for checking. Just published fix version 0.4.5. Run `composer update` in a few minutes, and this issue should be resolved. Thanks for finding this problem for me! :)

[2015-09-25 16:00] emergingdzns commented on #4
Ok that fixed that problem.

[2015-09-25 16:00] #4 closed

[2015-09-25 16:02] emergingdzns opened #5 "Class GeneaLabs\MixPanel\MixPanel does not exist"
I think the documentation may be old and using the previous version. I'm getting the following error when attempting to instantiate the mix panel library:
[code]
I tried changing it to the following which seemed more logical given the file names, but it still said not found:
[code]
Appreciate the pointers...

Thanks for your help!

[2015-09-25 16:05] emergingdzns commented on #5
Ah. I found it.
[code]
And then in the __construct, change it like this:
[code]

[2015-09-25 16:05] #5 closed

[2015-09-25 16:14] emergingdzns opened #6 "Identify not working?"
Sorry to keep pounding on your library, but hopefully this all helps.

I've got the library very nicely tracking the page loads and custom events, but for some reason the user info isn't getting submitted to MixPanel.

I'm submitting it like this:
[code]
I verified that the $user object is in fact valid and that user_id, customer_id, and name all can echo out onto the page. Not sure what to do nex

[2015-09-25 16:16] mikebronner commented on #6
Hi @emergingdzns, no this is great! :) keep bringing up the choke points you are finding. I will take a look.

User info is only submitted when the user logs in. You should not have to manually track the user, it should already be done for you. Let me get back to you on this in a bit.

[2015-09-25 16:27] emergingdzns commented on #6
Ok. I understand the user data getting logged on login but in the mixpanel ui I'm seeing all anonymous users so I added that bit to the actual custom event tracking. We should at least be submitting user id which I think might actually be happening, but it's hard to tell in Mixpanel. I'll log out and back in to see if that fixes things.

[2015-09-25 16:32] emergingdzns commented on #6
Ok so logging out is an issue. Our system doesn't have first name and last name, only name. So I got the following:
[code]
What's odd is this doesn't mention the mixpanel file anywhere but we don't have any code for updating on logout that I'm aware of.

When I logged back in I had no issues, but in Mixpanel there's still no user data. It also isn't showing the login either so I'm guessing our lac

[2015-09-25 16:34] mikebronner commented on #6
Ah, that's true ... I can update for $name vs. $first_name and $last_name (will just split the name by spaces, and the last word will be the last name, the rest the first name).

[2015-09-25 16:37] emergingdzns commented on #6
That works. Thanks again. This is a pretty cool library and saved us a bunch of time.

[2015-09-25 17:06] mikebronner commented on #5
This will be fixed in version 0.4.6, in the next few minutes.

[2015-09-25 17:08] mikebronner commented on #6
I think the issue here was that I was adding the first_name and last_name columns to your user instance, and that broke things. I updated the mix panel events not to manipulate your user class, and this should now fix things in regards to the error. This will be fixed in version 0.4.6, coming out in the next few minutes.

We should open a separate issue regarding mix panel not tracking users.

[2015-09-25 17:08] #6 closed

[2015-09-25 17:20] mikebronner commented on #6
@emergingdzns If tracking on MixPanel UI still isn't showing any user details, I will be happy to jump on ScreenHero with you and see what the issue might be. Let me know after you update how it works. (You should be able to update now to 0.4.6 running `composer update`.)

[2015-10-06 23:10] emergingdzns commented on #6
@mikebronner Sorry for the delay. I had to put this on hold temporarily to deal with some other stuff. I'm back on it now and I'm still not getting any user data in MixPanel. I get "anonymous" users.

Each time a report in our system is run I execute the lines I posted when I created this issue. I then run this:
[code]
Right now, I am just dumping the input params to the tracker just to see waht w

[2015-10-06 23:13] mikebronner commented on #6
Do you use a separate package for authentication, or are you using the Laravel auth functionality? Please email me at hello at genealabs dot com with your Screenhero email address, so we can link up and see what's happening here.

[2015-10-28 22:35] mikebronner opened #7 "Browser Detection"
Implement more robust and complete browser detection.

Possibility: https://github.com/hisorange/browser-detect, but need to figure out proper service provider loading, and config handling without having to publish.

[2015-10-28 22:50] mikebronner opened #8 "Possibly Add More Tracking"
Some articles to look through for smart tracking strategies:
- http://500.co/mixpanel-pitfalls-how-to-get-it-right/

### Acceptance Criteria

- [ ] Research referenced tracking strategy articles and identify ≥ 3 tracking improvements applicable to this package
- [ ] Each new tracking feature is configurable — opt-in or opt-out via config key
- [ ] Implemented tracking improvements include clear do

[2015-10-29 19:47] mikebronner opened #9 "Solidify Referrer Tracking"
- track Referrer reliably (seems to be unreliable at the moment)
- capture original referrer if possible

[2015-10-30 14:03] mikebronner commented on #7
Currently facing the following issues:
- hisorange/browser-detect doesn't detect versions
- sinergi/browserdetector has issues detecting the browser name sometimes, and instead reports `Mozilla 5.0` instead of the real browser name.

[2015-11-02 22:55] mikebronner opened #10 "Make Tracking Events Configurable"
Add a config file to allow disabling of tracking of any of the events being tracked out of the box.

[2015-11-02 23:19] mikebronner opened #11 "Add identity call to track() method, so the developer doesn't need to worry about it."
Need to check how this can be implemented seamlessly.

[2016-03-08 20:04] simabo opened #12 "Disable CSRF, unsure about how to do it in L5.2"
Hi Mike,

A quick question: the readme states (point 5 in Configuration) that we should update a Middleware to bypass the CSRF checking for Stripe.

It looks like the file in question has changed in Laravel 5.2, see it [here](https://github.com/laravel/laravel/blob/master/app/Http/Middleware/VerifyCsrfToken.php)

I'm unsure about how to proceed: should I copy in this class the base "handle" functi

[2016-03-08 20:08] simabo commented on #12
It might be as simple as adding 'genealabs/laravel-mixpanel/*' to the $except protected array... If you can confirm, then the readme probably should be updated.

[2016-03-08 20:21] mikebronner commented on #12
You're exactly right! :) I just checked a Laravel 5.2 project I have it in, and just adding it to the $except variable (in `app/HTTP/Middleware/VerifiCsrfToken.php`) is the way to go:

[code]

[2016-03-08 20:21] #12 closed

[2016-03-08 20:23] mikebronner commented on #12
Updated the readme as well. :)

[2016-03-08 21:08] simabo commented on #12
Wow, impressive :)
Thanks again, much appreciated!

Having zillions of web services to connect to my app, your package is more than welcome and saves me a huge amount of time. I hope to return the favor to the community pretty soon.

[2016-03-08 21:28] mikebronner commented on #12
Nice, glad to hear it!!

[2016-04-04 07:50] alektrich commented on #10
I agree. This would be really helpful. I have people object duplication issues when setting my own "user started" tracking, for example, that sets email as a distinct ID.
I hope it's feasible to implement that soon. Thank you!

[2016-04-04 12:17] IvanJov commented on #10
I agree with you guys. I think that this feature can useful. I will try to implement it and then @mikebronner can review it and accept pull request if everything is ok. What do you think?

[2016-04-04 15:04] mikebronner commented on #10
Thanks guys. Really this should only be a configuration boolean, which then is looked at in the event listeners. Thanks for the feedback, I will see what I can do over the next few days on this. :)

[2016-04-04 18:04] IvanJov commented on #10
Thanks @mikebronner !

[2016-04-04 18:36] alektrich commented on #10
@IvanJov @mikebronner Great! :)

[2016-04-05 03:23] mikebronner commented on #10
This is now implemented in 0.5.3. See README step #3. Please let me know how this works for you guys. :)

[2016-04-05 03:23] #10 closed

[2016-04-05 03:32] mikebronner commented on #1
First step is taken: created a test repo to handle all the testing: https://github.com/GeneaLabs/laravel-mixpanel-tests

[2016-04-18 06:31] jryd opened #13 "Question: using username rather than first name and last name"
Hey Mike,

I'm pretty new to using Mixpanel and have only set it up at the most basic level in each of my controllers - I'm looking to improve this and make it much more meaningful and this package looks perfect.

The only issue I have is that we only use a `username` and don't have `name`, `first_name` or `last_name` recorded for our users - as our application doesn't require it.

I can see from

[2016-04-19 09:26] simabo commented on #13
Hey jryd,

I'm in vacation and can't access my testing env right now, but you could do some test of your own in Mixpanel.

In your User Model, just write a [mutator](https://laravel.com/docs/5.2/eloquent-mutators#accessors-and-mutators), like this (provided that username is the field that is declared in your user table):
[code]

At runtime, the package does this ([see line 31](https://github.com/G

[2016-04-20 01:53] mikebronner commented on #13
Hi @jryd, can you explain why you would want to use the username only, and not the first-name/last-name?

This package will use the `name` field, which would be the username, and put it in the name field in Mixpanel. If it can't split the name into two, it will put the username in the first name field as well and leave the last name blank.

The intent is to identify humans by who they are, and not

[2016-04-20 03:35] jryd commented on #13
Hi @mikebronner, the reason I only want to use the username is because we don't store first or last name.

We're running a Laravel package to support account signups for an online game, and first and last names aren't required for this purpose and so we just use their username instead.

Given that it will just use their username instead, this will be fine and fit for purpose.

I've just gone throu

[2016-04-20 03:39] mikebronner commented on #13
Did you add `'model' => <YourNameSpace>\User::class,` to your auth.php config file? Do you see any error entries in your log file?

[2016-04-20 03:43] jryd commented on #13
I already had the `'model'` set in my config files.

Playing around with it I have managed to get it to work - I had to manually add

[code]

to my `config/services.php`. Straight after I did that it worked a treat!

[2016-04-20 03:45] mikebronner commented on #13
Ah, yes! I abstracted that out after the 0.4 version. I will add that to the documentation, thanks! :)

[2016-04-20 03:49] mikebronner commented on #13
Closing this for now, please reopen if you run into trouble. :)

[2016-04-20 03:49] #13 closed

[2016-08-06 02:32] #2 closed

[2016-08-06 02:32] #1 closed

[2016-08-23 05:46] KonstantinKolodnitsky opened #15 "Enable Queueing of Events"
I'd like to disable some or all events to be sent automatically. The reason is that I'd like to send them via queued job. The other solution would be to make them queueable.

[2016-08-23 08:58] KonstantinKolodnitsky commented on #15
Ah, sorry, my fault.

'mixpanel' => [
      'token' => env('MIXPANEL_TOKEN'),
      'enable-default-tracking' => false|true,
    ],

[2016-08-23 14:00] mikebronner commented on #15
I like the idea of making them quable, if necessary. I say "if necessary", because I think by default Mixpanel reports the events async, so it shouldn't affect performantce. I will verify that, and look into making events quable.

Thanks for the suggestion! :)

[2016-08-23 14:11] KonstantinKolodnitsky commented on #15
Yes, I think it's a good option, but I'd create another ticket directly related to the question.

The solution seems quite easy. Just add `implement ShouldQueue` to event listeners. But it'll make them queue always. It might break if queueing is not configured. Have a look on 'Manually Accessing The Queue' part of https://laravel.com/docs/5.2/events#queued-event-listeners.

And thanks for the plug

[2016-08-23 14:15] mikebronner commented on #15
Implementing queuing is not an issue. However, I would like to avoid implementing queuing just for the sake of it, if there is no real problem. I'm just curious if this is "pre-mature optimization" -- trying to put something on the queue in anticipation of it slowing down the app, before there is any evidence of it actually causing problems.

I use it with most of my projects, and haven't seen any

[2016-08-23 14:20] KonstantinKolodnitsky commented on #15
Unfortunately it's the first time I use MixPanel at all so I don't have any experience with it. The client's requirement is to use queue. Can't compare. Sorry for that.

[2016-08-24 02:21] mikebronner commented on #15
I followed up withmixpanel, and indeed the events are not async. I will look into making them queueable, since that is indeed a valid concern.

Thanks for bearing with me and discussing it :)

[2016-08-24 04:01] KonstantinKolodnitsky commented on #15
You are welcome.
If you'd like me to make speed comparison or other tests let me know.

[2016-08-24 15:47] mikebronner opened #16 "Update Mixpanel To Support Auto-Track"
Mixpanel just released Auto-Track for web: https://mixpanel.com/autotrack/?utm_source=productlaunch&utm_medium=email&utm_content=082416

[2016-08-24 15:56] mglinski opened #17 "Use of Route::controller invalid in Laravel 5.3"
![](https://cl.ly/162F2r0t1h3i/Image%202016-08-24%20at%2011.55.43%20AM.png)

See: https://github.com/GeneaLabs/laravel-mixpanel/blob/master/src/Http/routes.php#L6

This routing method was deprecated in v5.2 and is now removed in v5.3.

[2016-08-24 16:01] mikebronner commented on #17
Thanks for this list! Upgrading to L5.3 was on my todo. :)

[2016-08-24 16:02] mglinski commented on #17
I made the change and put up a PR for it.

[2016-08-24 16:09] mikebronner commented on #17
Awesome! :) Thanks

[2016-08-24 17:10] mglinski commented on #17
Im not sure what your release timeline is for 0.5 but this is currently preventing my automated deployments from validating. Can this be fast tracked as a patch release? It should be fully backwards conpatable all the way back to 5.0.

[2016-08-24 17:13] mikebronner commented on #17
It wil be backward compatible to L5.1 (LTS) for sure. I can't guarantee L5.0. Timeline is looking like this weekend.

[2016-08-25 00:52] #17 closed

[2016-08-25 01:03] mikebronner commented on #17
You should now be able to reference this commit in your composer.json, so your builds will start passing again (just until I get 0.6 released):

[code]

[2016-08-25 01:07] mikebronner commented on #16
There may not be antything to do. Autotrack is implemented in the JS library, will look into providing that optionally somehow.

[2016-08-25 13:26] mikebronner commented on #15
Looking into this some more, I'm not sure there would be any benefit to queueing them. While by default Mixpanel uses Guzzle (as the email response from Mixpanel indicates), I have implemented it to use a socket connection (which I realized after reviewing the code yesterday evening), which turns out to be async precisely because I ran into blocking issues with multiple simultaneous CURL processes

[2016-08-26 00:53] mikebronner opened #19 "Verify L5.3 Compatibility"

[2016-08-26 00:53] mikebronner opened #20 "Verify Backwards Compatibility To L5.1"

[2016-08-26 02:37] #16 closed

[2016-08-26 02:53] #19 closed

[2016-08-26 03:10] mikebronner commented on #20
No, this isn't feasable. Laravel LTS is not developed as an LTS to be backward compatible to. It's just intended for stagnant sites to not require updating, yet receive security patches. Actively maintained sites should be continuously updated to the latest Laravel version.

[2016-08-26 03:10] mikebronner opened #21 "Implement Unit Tests"

[2016-08-26 08:54] KonstantinKolodnitsky commented on #15
Absolutely agree with you. Great job!

[2016-08-28 22:03] mikebronner opened #22 "Update to Laravel 5.3"

[2016-08-28 23:41] #20 closed

[2016-08-29 02:03] #22 closed

[2016-08-29 02:10] mikebronner commented on #15
Re-opening this, as I found a valid use-case for it:
- if implementing queues other than sync, it will allow the event to be retried until mixpanel connection is re-established.

[2016-08-29 02:28] mikebronner opened #23 "Bind to IoC with Shortname"

[2016-08-30 03:01] #23 closed

[2016-08-30 03:13] mikebronner commented on #11
This requires a cleaning up of the order of events.

Strategy:
- Move all actionable tracking into events.
- Fire those events when subscribed events are observed.
- All mixpanel events must be fired __after__ the 'authenticated' event.
- The 'authenticated' event will identify the user, if logged in.
- The mixpanel tracking will be fired in each mixpanel event.
- Mixpanel people gets updated __af

[2016-08-30 03:14] mikebronner commented on #11
See #11

[2016-08-30 13:42] mikebronner opened #24 "Set Transaction Date For Charges And Subscriptions"
Right now the current timestamp is used. Instead, the stripe-provided date should be used.

[2016-08-30 13:43] mikebronner commented on #15
Refactoring everything to event listeners for now. This will easily allow enabling of queueing if a good solution is found.

[2016-09-18 08:19] mtpultz opened #25 "Laravel 5.3.* Your requirements could not be resolved to an installable set of packages"
On a fresh install of Laravel 5.3.* running `composer require genealabs/laravel-mixpanel` throws an error.

[code]

[2016-09-18 13:52] mikebronner commented on #25
Hi @mtputz, for L5.3 please use 0.6.0-RC.

[2016-09-18 15:32] mikebronner commented on #25
Also, for anyone upgrading from a previous version, please take a moment to read the updated README documentation, as it contains several changes in how the package is installed and configured. (The metrics that are tracked remain unchanged.)

[2016-09-18 23:12] mtpultz commented on #25
Hi @mikebronner,

Thanks for the response.  Both those options throw the same error:

[code]

I'm sure this is a setting somewhere, but it isn't the PHP version in composer, which is the default for Laravel 5.3 `"php": ">=5.6.4",`.  It won't matter since I'm using Homestead with PHP 7, but I can't seem to find where this version of PHP is being set.

[2016-09-18 23:20] mikebronner commented on #25
Are you by chance running composer update outside of Homestead? It's likely detecting the Mac default PHP instance, which is not PHP7. I recommend upgrading that to PHP7 using http://php-osx.liip.ch

[2016-09-19 00:59] mtpultz commented on #25
That do it.  Never would have guessed that.  Thanks

[2016-09-19 00:59] #25 closed

[2016-09-19 01:24] mikebronner commented on #25
Awesome, glad to hear that fixed it :) Let me know if you run into any troubles using the mix panel package. :)

[2016-10-25 19:37] moiz2050 opened #26 "Issues while installing with laravel 5.3"
When i am doing this
`composer require genealabs/laravel-mixpanel`

Its giving this error, i recently updated to 5.3, can anybody help me in that

[code]

[2016-10-25 21:23] mikebronner commented on #26
You can install the RC version like so:
`genealabs/laravel-mixpanel:0.6.0-RC@dev`

[2016-10-25 22:58] moiz2050 commented on #26
@mikebronner thanks man

[2016-11-08 00:49] clin407 opened #27 "Issues using Laravel 5.2"
Followed the instructions to install this package using

composer require genealabs/laravel-mixpanel:~0.5.1

When I added

[code]
to config/app.php and load a page, it says
[code]

Any ideas why?

[2016-11-08 00:50] mikebronner commented on #27
Can you provide the full stack trace? That would help me identify what the root cause is. :)

[2016-11-08 01:01] clin407 commented on #27
@mikebronner Laravel 5.2.45

[code]

[2016-11-10 19:57] clin407 commented on #27
Any ideas on this?

[2016-11-10 21:03] mikebronner commented on #27
Try installing version 0.5.3 of the package, it includes numerous fixes / changes from 0.5.1. Let me know how that goes.

[2016-11-10 21:14] clin407 commented on #27
Doesn't work. Oh well =\

[2016-11-10 21:14] #27 closed

[2017-01-09 21:52] Dartanjan opened #28 "Laravel 5.3. core events are now objects"
I think you've seen this (looking at your code), but some events are no longer firing because they need to be referenced as objects, e.g. `Illuminate\Routing\Events\RouteMatched` instead of `router.matched`. All other core events in your code as well.

Exact commit on LR here: https://github.com/laravel/framework/commit/41599959d45016f0280d986f758d414fbee81863

This is on `0.6.0-RC@dev`, not sure

[2017-01-09 21:56] mikebronner commented on #28
@Dartanjan Thanks! I haven't had much time to look into this over the holidays. Will make an update and release 0.6 with that fix. I suspected something might be up. :)

[2017-01-09 22:02] Dartanjan commented on #28
@mikebronner awesome, thanks!

[2017-01-09 22:31] Dartanjan opened #29 "Identical events firing twice?"
I set up a clean new project, installed your package and only loaded homepage once. I'm seeing two `Page View` events. Raw data export shows they have identical timestamps:

[code]

Can you help? :) I've seen this happen with some of my clients in the past. It seems it's not due to php/laravel or your package, but I'm hoping you've run into this before and have a solution.

[2017-01-09 22:33] mikebronner commented on #29
Indeed! :) By any chance, do you have a middleware installed that renders the view before passing it on? This will happen if a view is rendered twice before being passed back to the browser.

[2017-01-09 22:43] Dartanjan commented on #29
Hmmm, what I'm doing is a middleware that check whether the user should go through the onboarding sequence. At this point it just redirects to `/welcome` in any case:

[code]

[2017-01-09 23:02] mikebronner commented on #29
Comment out the second return, just to make sure and see if it still logs the visit twice?

[2017-01-09 23:16] Dartanjan commented on #29
Wow, that was it. Thanks! Any idea how this is possible?

[2017-01-09 23:16] #29 closed

[2017-01-09 23:21] mikebronner commented on #29
Good question :)

[2017-01-09 23:34] Dartanjan commented on #29
Looking at other routes, I'm starting to think that firing `Page View` on route change may not be ideal. What I assume of `Page View` to represent in my reports, is "User went from A to B". However, routes can be matched more than once in a single request. For example, authenticating with a social login service – receiving the callback (like `yoursite.com/oauth/google/callback`) will count as one

[2017-01-09 23:39] mikebronner commented on #29
Yea, will consider options when revisiting the events that are fired, and perhaps adding additional event listeners on routes or requests, instead of view rendering.

[2017-01-10 10:56] Dartanjan opened #30 "Unable to override consumer and timeouts options"
I'm not able to override `consumer`, `connect_timeout` and `timeout` options. They are instantiated in `LaravelMixpanel` but the options themselves are not being taken from `config('services.mixpanel')` where they should probably be in.

My solution for now is to extend the class and pass my own options, but that's not very smooth. Or am I missing something? Readme.md doesn't mention overriding th

[2017-01-10 10:59] Dartanjan commented on #30
The reason I needed to change these options is because with current setup (socket, 5, 5), I was not getting some events. I tested with curl and much longer timeouts and it worked. This won't be ideal in the long run, but as the app won't see much traffic in the beginning, it's good enough.

[2017-01-29 00:08] emergingdzns commented on #26
@mikebronner is there a reason that the 0.6.0 requires PHP 7.0??? I'm toast now. I need to deploy a build of 5.3 and need to use 0.6.0 because the 5.x builds don't install. But our server doesn't have php 7.

[2017-01-29 00:12] mikebronner commented on #26
Sorry for that @emergingdzns, but I am moving to PHP 7 with all plugins for the language advantages, as well as the performance and support. See http://php.net/supported-versions.php, PHP 5.x is no longer actively supported, only receives security fixes.

[2017-03-01 02:21] mikebronner commented on #30
@Dartanjan thank you for reporting this. I will add these options.

[2017-03-01 02:22] mikebronner commented on #28
Working on this now... sorry for the delay.

[2017-03-01 02:23] #26 closed

[2017-03-01 16:22] #30 closed

[2017-03-01 16:28] mikebronner commented on #28
@Dartanjan can you check if this is still an issue with the latest dev-master? I don't see anywhere other than LaravelMixpanelEventHandler I am listening for events.

[2017-03-01 16:45] #24 closed

[2017-03-01 16:50] mikebronner commented on #11
Closing for now.

[2017-03-01 16:50] #11 closed

[2017-04-14 21:23] mikebronner opened #31 "Remove init command from script file."

[2017-04-14 21:23] mikebronner opened #32 "Test blade view without script tags, etc."

[2017-04-14 21:25] #31 closed

[2017-04-18 16:33] richardbenson commented on #32
Using 0.6.4:

Documentation states: `@include('genealabs-laravel-mixpanel::partials.mixpanel')` - putting this in echos out the script file found in `public/genealabs-laravel-mixpanel/mixpanel.js`.  Previously this included script tags so was all that was needed on the page.  Now these need to be wrapped in tags and the documentation updated to reflect that.

It looks like [this change](https://gi

[2017-04-18 21:42] mikebronner commented on #32
Yea, 0.6.6 is a temp. patch until I can thoroughly test this. Working on it now.

[2017-04-18 22:49] mikebronner commented on #32
This should now be fixed again in 0.6.7. Let me know if you still have issues. Tested auto-tracking and confirmed it working. :)

[2017-04-18 22:49] #32 closed

[2017-04-29 07:02] jaewun opened #33 "Automatic events don't seem to be firing?"
Running the latest version of Laravel, 5.4.21

I can fire manual events perfectly fine but it seems like all the listeners just don't listen.

It seems like everything runs up to the event() helper being fired and then it just dies.

Any idea what could be causing this?

[2017-04-29 14:19] jaewun commented on #33
I've debugged this and it seems Listeners\MixpanelEvent@handle is never firing?

When is Laravel instructed to attach this listener to Events\MixpanelEvent? It either has no way of knowing right now, or I'm completely missing something.

The only way I could get it to work was by registering the event and listener in my own EventServiceProvider manually, and when doing that all of the event detail

[2017-05-01 18:11] mikebronner commented on #33
Not sure, let me look into it. Might be a week or two before I can get to it. Thanks for reporting this issue.

[2017-05-11 02:33] mikebronner commented on #33
@keithbrink Thanks for reporting that you are having the same issue. Will take a look this weekend. :)

[2017-05-14 16:45] mikebronner commented on #33
@jaewun and @keithbrink: have you implement the javascript library and connected mixpanel to you website by configuring the web app in the mixpanel dashboard? I think that might be disconnect. A while back I removed php page tracking, as the mixpanel auto-tracking feature made that redundant, and gives you more insights. Can you confirm that is the case?

[2017-05-14 17:04] mikebronner commented on #33
In the meanwhile I'm making some tweaks to the way the JS library is integrated and also updating documentation.

[2017-05-14 17:16] keithbrink commented on #33
Mike‎, the autotracking is working fine, it's the login/registration events that aren't working.                                                                                                                                                                                                                From: Mike BronnerSent: Sunday, May 14, 2017 12:45To: GeneaLabs/laravel-mixpanelReply To: GeneaL

[2017-05-14 17:34] mikebronner commented on #33
Thanks for the clarification. Will report back in a bit.

[2017-05-14 18:02] mikebronner commented on #33
Issue identified: event handler not registering properly. Working on a fix, hope to have it out in the next few hours.

[2017-05-14 18:40] mikebronner commented on #33
This should now be fixed in the 0.6.8 release. Please let me know if you experience any issues. :) My apologies to everyone for the inconvenience and oversight on my end.

[2017-05-14 18:40] #33 closed

[2017-06-15 11:13] richardbenson opened #34 "0.6.8 breaks L5.1 compatibility"
[code]

You may or may not want to fix this OR just document that L5.1 needs 0.6.7 at most, but then 0.6.7 has it's own issues :/

[2017-06-15 14:58] mikebronner commented on #34
@richardbenson Thanks for reporting this! I will try and fix the problem -- should have something within an hour or so for you.

[2017-06-15 15:44] mikebronner commented on #34
@richardbenson Could you give dev-master a try on 5.1 for me? From what I have tested it is working, I just want to make sure you will be OK as well.

[2017-06-15 17:01] richardbenson commented on #34
@mikebronner thanks for the quick turnaround.

The plugin now doesn't kill Laravel, but events are coming into MP like so `{u'1': {u'Status': u'Logged In'}, u'0': u'Session', u'time': 1497546012}` in the title field.

[2017-06-15 17:03] mikebronner commented on #34
@richardbenson yes, I saw that as well. I will have to look why that is happening, perhaps they updated their API. Will open a separate issue for that.

[2017-06-15 17:03] #34 closed

[2017-06-15 17:07] mikebronner opened #35 "Events are not being named correctly."
Recently tracked events started being named like `{u'1': {u'Status': u'Login Attempt Failed'}, u'0': u'Session', u'time': 1497541309}`. /cc @richardbenson

[2017-06-15 17:56] mikebronner commented on #35
Fixed by 254b56c4

[2017-06-15 17:56] #35 closed

[2017-06-15 17:57] mikebronner commented on #35
@richardbenson give it a shot now.

[2017-06-16 10:59] richardbenson commented on #35
@mikebronner

[code]

I'm fiddling around in there to try and get the right order of things, will update if I crack it

[2017-06-16 11:52] mikebronner commented on #35
Figures! :) Ha, made the fix in the 5.4 test platform, and not in 5.1. Testing there now, should have a fix shortly. Sorry about that.

[2017-06-16 12:49] mikebronner commented on #35
Pushed release 0.6.11 which should alleviate the issue. Tested in both 5.1 and 5.4. Please note the release notes for some minor tracking changes made.

[2017-06-16 18:31] mikebronner commented on #28
No response and working in L5.4. Closing for now, please re-open this issue if this is still a problem. :)

[2017-06-16 18:31] #28 closed

[2017-06-16 18:32] mikebronner commented on #15
This really isn't a concern at this point. Closing for now.

[2017-06-16 18:32] #15 closed

[2017-08-18 11:40] imam opened #36 "Requirement could not be resolved"
Hello, I can't install this package. Here is the error log:
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for genealabs/laravel-mixpanel ^0.5.3 -> satisfiable by genealabs/laravel-mixpanel[0.5.3].
    - Conclusion: remove laravel/framework v5.4.33
    - Conclusion: don't install laravel/framework v5.4.33
    - genealabs/laravel-m

[2017-08-18 12:16] imam commented on #36
I'm using the `dev-master` it works! It's should be updated

[2017-08-18 12:17] imam opened #37 "Make a facade"
Is there any reason why you aren't making a facade for this package?

[2017-08-18 16:25] mikebronner commented on #37
I don't use facades, instead use `app('mixpanel')->...`.

[2017-08-18 17:00] mikebronner commented on #36
You need to change the version requirements from `genealabs/laravel-mixpanel ^0.5.3` to `genealabs/laravel-mixpanel ^0.6.0`.

[2017-08-18 17:00] #36 closed

[2017-09-24 17:18] mikebronner opened #39 "Integrate Some Forked Changes"
https://github.com/emergingdzns/laravel-mixpanel

### Acceptance Criteria

- [ ] The referenced fork (https://github.com/emergingdzns/laravel-mixpanel) is reviewed for applicable changes
- [ ] Valid improvements from the fork are incorporated into the main package with appropriate attribution
- [ ] Each incorporated change has tests covering the new/changed behavior
- [ ] Changes that are out of s

[2017-10-16 13:48] razvaniacob opened #40 "Error when I put timestamps to false and save user."
FatalThrowableError in LaravelMixpanelUserObserver.php line 78:
Call to a member function format() on string

[2017-10-16 18:10] mikebronner commented on #40
Thanks for reporting this! I will take a look at this over the next few days. :)

[2017-10-18 18:39] mikebronner commented on #40
@razvaniacob which version of the package are you using? Please provide the following details:

- Operating system and version
- PHP version
- Development environment stack (i.e. Laravel Homestead)
- Package version

I double-checked the code, and the error referenced above does not appear to correspond to the latest version.

[2017-10-19 05:44] razvaniacob commented on #40
OK... I'm using
Ubuntu 16.04.3 LTS
PHP 7.1.10-1
Laravel 5.3
0.6.0-RC

[2017-10-19 05:50] mikebronner commented on #40
Have you tried updating the package to 0.7.0? Let me know how that works for you

[2017-10-19 05:51] razvaniacob commented on #40
No.. I'll update it now. I just saw that my version is old. I'll try that and let you know. Thank you!

[2017-10-19 05:53] razvaniacob commented on #40
Yes.. it works now with the latest version. Thank you for your help!

[2017-10-19 05:53] #40 closed

[2017-10-19 06:03] mikebronner commented on #40
Awesome!

[2017-11-03 14:33] elamotte opened #43 "Autotrack don't work"
If I copy paste the new JS snippet from mixpanel I can use the autotrack.

With the include of the package (mixpanel.js) the autotrack don't show up and I have a 404 error in the console.

[2017-11-03 14:58] mikebronner commented on #43
Can you provide a screenshot of the console error? When testing this on my end it has worked. Please also provide the following information:

- PHP version:
- Mixpanel for Laravel package version:
- Laravel version:

[2017-11-03 18:47] elamotte commented on #43
Sure sorry, wrote the issue quickly this morning. So there it is :

Php 7.1
laravel-mixpanel 0.7.0
laravel version 5.5

Here's the screenshot :
https://pasteboard.co/GRYfrru.png

[2017-11-03 20:30] mikebronner commented on #43
Hi @elamotte, editor.min.js isn't part of the mixpanel package. That looks like it's something you are including in your app. I wonder if that is preventing further JavaScript from running, which is why mixpanel wouldn't work. Can you try excluding the editor.min.js from your project, and see if it works then? If that's the case, then there seems to be a conflict with between editor.min.js and the

[2017-11-03 20:37] elamotte commented on #43
No actually editor.min.js is an external file, its loaded when you try to launch autotrack from mixpanel :
https://pasteboard.co/GRZ275h.png

So if I don't start the autotrack, it's working but that's my problem it's looks like Autotrack editor don't work with your package.

[2017-11-03 21:02] mikebronner commented on #43
OK, let me go over this over the weekend. Thanks for providing the additional details. I will see if I can recreate it. By any chance do you have your code hosted on a public repo? That would be the best, if I can troubleshoot it directly. If not, I'll see if it errors out when I try to do it on my own project.

[2017-11-03 21:08] elamotte commented on #43
No actually it's on a private repo. But if I can i'll try to reproduce it simply on a fresh installation tomorrow and share the code with you.

[2017-11-04 18:17] elamotte commented on #43
Ok I reproduced it with the same behavior of my private repo :
https://github.com/elamotte/mixpanel-test/commits/master

You can test it (I can invite you on my mixpanel project as well we'll be easier for you to test).

I finally success to make it works but by disabling your JS snippet and replace it by the official from mixpanel. You can test the autotrack with both method (comment / uncomment

[2017-11-05 15:40] mikebronner commented on #43
@elamotte thanks for your help. I was able to reproduce the problem and fix the issue. Can you give version 0.7.2 a try and let me know if it works now? Thanks!

[2017-11-05 18:37] elamotte commented on #43
@mikebronner thanks, I confirm that It works well.
Thanks a lot for the quick fix, I'll continue with 0.7.2!

[2017-11-05 18:37] #43 closed

[2017-11-06 01:21] mikebronner commented on #43
Awesome! Thanks again for letting me know about the issue. Just released 0.7.3 with some refactoring and starting to add unit tests.

[2018-01-07 23:17] #37 closed

[2018-02-20 03:28] chrisrickard opened #46 "Enable-default-tracking value not honored"
The setting `services.mixpanel.enable-default-tracking` is not honoured, as even when I st it to false it is still creating the default events.

I believe this is because the classes are still in the `protected $listen` array of your Service.

[2018-02-20 03:52] mikebronner commented on #46
@chrisrickard Thanks for reporting this! I will look into this in the near future, time permitting. :)

[2018-04-09 12:34] jameskandau commented on #25
delete package.lock.json file

[2018-04-23 17:53] SuperIbm opened #47 "array_filter() expects parameter 1 to be array, string given"
Laravel 5.6.
"genealabs/laravel-mixpanel": "^0.7.7",

I allways obtain this error when I try to log in.

\vendor\genealabs\laravel-mixpanel\src\LaravelMixpanel.php - 50
array_filter() expects parameter 1 to be array, string given
![2018-04-24_01-52-43](https://user-images.githubusercontent.com/10213444/39144076-4b3ca7ba-4762-11e8-92d6-d2ecd9deb49e.png)

[2018-04-24 14:15] mikebronner commented on #47
Bugger! Thanks for reporting. I thought I fixed that... will look into it. Sorry for the problem.

[2018-04-24 14:39] mikebronner commented on #47
Oh, are you tracking custom events? The recent fixes I did require the properties passed in to track to be an array, not a string.

[2018-04-25 15:41] mikebronner commented on #47
Hi @tomstaff thanks for adding some more detail. That is truly strange, because the code in LoginAttempt has been changed to reflect that:

[code]

Are you absolutely sure you updated to the latest version? If you could delete your vendors folder, as well as composer cache, then try running composer update again?

[code]

[2018-04-28 16:05] SuperIbm commented on #47
Maybe you could add some checking like this:

if(!is_array($proporties)) $proporties = [$proporties];

to avoid this error and to be pretty sure that you get correct type of data.
m?

[2018-04-28 17:03] SuperIbm commented on #47
[code]
A did it but it doesn't still work and I see the same error :(

[2018-04-28 17:13] SuperIbm commented on #47
I found why do you have the error.

There is you have a cycle:
vendor\genealabs\laravel-mixpanel\src\Listeners\MixpanelEvent.php

#23
foreach ($event->trackingData as $eventName => $data) {
                app('mixpanel')->track($eventName, $data);
            }
$event->trackingData - this is your array of data that you pass in the LaravelMixpanel::track($event, $properties = []). In this case you

[2018-05-05 00:38] mikebronner commented on #47
Sorry about the delay. I will try to get this fixed this weekend. :)

[2018-05-05 17:30] #47 closed

[2018-05-05 17:40] mikebronner commented on #47
Sorry for this issue -- version 0.7.8 should now be fixed.

[2018-08-31 08:24] Djuki opened #48 "Call to undefined function `GeneaLabs\LaravelMixpanel\Http\Requests\timestamp()`"
In the logs we get the error:

`production.ERROR: Call to undefined function GeneaLabs\LaravelMixpanel\Http\Requests\timestamp()`

The undefined function is called in the line:
`vendor/genealabs/laravel-mixpanel/src/Http/Requests/RecordStripeEvent.php:97`

My project is on Laravel5.6 and we do use Cashier for subscribing users.

Where is this function `timestamp` defined?

[2018-08-31 14:28] mikebronner commented on #48
Hi @Djuki thanks for reporting this. I will look into this as soon as I am able. If you happen to find the problem in the meanwhile, please feel free to submit a PR with the solution.

[2018-10-03 13:41] dniccum opened #50 "Laravel 5.7 support"
It appears that this package does not support Laravel 5.7.

This is the error that I am receiving when I update composer:

[code]

[2018-10-05 18:17] mikebronner commented on #50
@dniccum Thanks for reporting this. Will look into it this weekend.

[2018-10-05 22:57] #50 closed

[2018-10-05 22:57] #48 closed

[2018-10-05 23:05] #46 closed

[2018-10-05 23:05] mikebronner commented on #46
@chrisrickard Could you check if version 0.7.5 fixes this issue for you? Thanks for being patient!

[2018-10-28 01:57] kriiv opened #51 "Working on Laravel 5.7"
Beautiful package, I am wondering if anyone has installed and tested this on Laravel 5.7?

[2018-11-12 15:15] rutgergrasgroen opened #52 "Alias after login"
Hi,

I dont see any alias happening after i sign up for an account. This means that all the activity that happens before you sign up, wont be mapped to the registered user. Am i correct? Or am i missing something?

If i am right, is it possible to do an alias call on registration? Then we can make a simple Identify after that.
The alias call can only be done once.

Thanks!

Rutger

[2018-11-12 17:01] mikebronner commented on #52
Hi @rutgergrasgroen, you are right, there is no alias happening. Do you have any suggestions what we should alias to? There really is no unique identifier if the user hasn't logged in yet, is there?

[2018-11-13 09:01] rutgergrasgroen commented on #52
Here i a very clear video explaining the process: https://help.mixpanel.com/hc/en-us/articles/115004510946-Identity-Management-Overview-Video

[2018-11-13 21:18] stephenjude opened #53 "Not working on Laravel5.6"
Nothing is currently working on Laravel 5.6. Looks like the Laravel 5.6 compatible branch has not been merged. How do go about this.

[2018-11-13 21:30] mikebronner commented on #53
@stephenjude  You should be able to use the release ... the branch is only for archival purposes, it is currently not up-to-date, sorry about that.

[2018-11-15 12:14] stephenjude commented on #53
Finally I was able to use it. My .env mix panel token was configuration was wrong. It work well on Laravel 5.6. Thanks @mikebronner

[2018-11-15 13:53] mikebronner commented on #53
@stephenjude Good to hear :) Glad you got it working

[2018-11-15 13:53] #53 closed

[2018-11-26 08:10] rutgergrasgroen commented on #52
@mikebronner Do you know when you have time to implement this feature?

[2018-11-28 13:16] rutgergrasgroen commented on #52
Nevermind, i fixed it myself. Its very simple to check in blade on auth and then identify. Dito for alias.

[2018-11-30 09:27] lwiml opened #54 "Different ID for identifying users"
Is it possible to use a different value for identifying users instead of the default user->id for auto events? i.e. a SHA1 of the users email address.

### Acceptance Criteria

- [ ] Developers can configure a custom distinct ID resolver (a callback or invokable class) that returns the value used to identify users in Mixpanel
- [ ] Config option (`'user_id_resolver'`) accepts a callable that recei

[2019-01-09 18:00] mikebronner commented on #52
Awesome, thanks @aakarim, I will try to get this implemented soon.

[2019-01-09 18:01] mikebronner commented on #54
Sure, see issue #52

[2019-01-15 16:14] aakarim commented on #51
The package is working for me, all the User events work, however I can't seem to get Cashier events to show up in Mixpanel.

[2019-01-15 16:29] mikebronner opened #55 "Verify Cashier Endpoints Are Working"
It is possible that cashier endpoints are no longer working correctly. The Cashier API may have changed.

Create integration tests for these.

---
## Acceptance Criteria

- [ ] All Cashier webhook endpoints (`POST /webhook/stripe` or equivalent) are tested and return correct HTTP responses
- [ ] Events triggered by Cashier (subscription created, payment succeeded, etc.) are tracked in Mixpanel
- [

[2019-06-09 16:20] stueynet commented on #54
Hey @mikebronner I am not sure how the referenced issue speaks to this one. Things like your Stripe integration would automatically use the user->id for its identification in Mixpanel when sending events there. Setting the alias on the front end is a different matter I would think. In my case we identify the user in Mixpanel with a UUID. Would love to heard your thoughts on how to ensure that the

[2019-06-09 16:22] mikebronner commented on #54
Hi @stueynet, thanks for reaching out. I'm sorry I haven't been able to dedicate much time to this. I hope to look into this, considering your scenario as well, soon.

[2019-06-09 16:23] stueynet commented on #54
No worries at all! Thanks Mike.

[2019-07-11 20:11] alberthaff opened #58 "IP, browser, etc. is not passed when track is used inside a queued job"
The properties that are based on the useragent / remote IP are not sent to Mixpanel, when an event is tracked inside a queued job.

[2019-07-28 17:31] #58 closed

[2019-07-28 17:42] mikebronner commented on #58
@alberthaff  Thanks for submitting this! Can you verify that 0.8.1 is now working as intended?

[2019-07-31 11:57] alberthaff commented on #58
You're welcome. Yes, everything seems to work. 👍

[2019-09-03 16:38] dependabot-preview[bot] opened #61 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-04 15:15] dependabot-preview[bot] opened #62 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-04 15:15] #61 closed

[2019-09-09 18:57] #62 closed

[2019-09-09 18:57] dependabot-preview[bot] opened #63 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-10 16:26] #63 closed

[2019-09-10 16:26] dependabot-preview[bot] opened #64 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-23 19:18] dependabot-preview[bot] opened #65 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-23 19:18] #64 closed

[2019-09-24 17:18] dependabot-preview[bot] opened #66 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-24 17:18] #65 closed

[2019-10-17 20:34] fernando-sa opened #67 "Disable automatic metrics"
Hey!

Firstly, thanks for building this amazing package! Secondly, i would like to suggest some parameter to make it easy to stop the automatic metrics, like logins, registrations etc. I have some unique things in my registration process, and would like to deactivate the User registered that come with the package.

Thanks :)

[2019-10-17 21:36] mikebronner commented on #67
Hi @fernando-sa, thanks for writing in. Could you provide a bit more detail, and perhaps show the code that you don't want to run? I'm having a hard time visualizing what you intend to do. :) Thanks!

[2019-10-17 22:13] fernando-sa commented on #67
I would like some config to disable this part of the package:

![image](https://user-images.githubusercontent.com/23534028/67051531-baaabb00-f111-11e9-9d14-2d13120e87de.png)

I may be missing something, but i couldn't find a good way to disable this "default" trackers

[2019-10-17 22:34] mikebronner commented on #67
@fernando-sa  Wouldn't you then just use the barebones library from mix panel? The underlying idea of this package is to automate those events. If you don't want those events, I would recommend simply using the official package from mixpanel. :)

[2019-10-18 13:56] fernando-sa commented on #67
That's actually a great point :sweat_smile:. So reformulating, there isn't an easy way to customize those automatic events? E.g: My situation require filters in registration, i would like to add them.

[2019-10-18 14:03] mikebronner commented on #67
@fernando-sa could you provide an example filter?

[2019-10-18 14:22] fernando-sa commented on #67
I use laravel Auth out of the box system, but with modifications, i have two types of accounts, i would like to tell mixpanel what type was registered, through a filter, instead of just telling that a user registered.

I came to think that maybe this is out of the scope of this package, since the propose is quick integration with laravel auth scaffold.

[2019-10-18 14:28] mikebronner commented on #67
Interesting point. So rather than a filter, you really want to pass along additional information about the user. Mixpanel does support custom fields. Let me get back to you on the best way to do this.

[2019-10-18 14:45] fernando-sa commented on #67
Yes! I'am calling them filters, because they're used do filter events. The syntax for doing this is just passing an array with the event, like so:

![image](https://user-images.githubusercontent.com/23534028/67103828-4406cf80-f19c-11e9-9dbc-eb0061f1001e.png)

Maybe a configuration file for this is just too much complexity, but if i could publish the files that are being called to register those au

[2019-10-18 16:39] mikebronner commented on #67
Could you give release 0.9.1 a try and let me know how it goes? It should be doable now. Check the readme for instructions.

[2019-10-18 16:39] #67 closed

[2019-10-18 16:39] #66 closed

[2019-10-22 13:15] fernando-sa commented on #67
Hey! Thank you for the quick responses, and quick change in the package. I had to start using the basic mixpanel library, since i was falling behind schedule. I read the README, and found it a bit confusing, i went to the commits history to understand how this new "feature" works. Maybe adding an real life example would be great for the next ones who come across this package.

Thank you again for

[2019-11-22 21:06] zenichanin opened #68 "How to add custom fields to people data"
I'm trying to add phone number and certain other fields to default people data such as when user logs in and other places specified in readme. What's the easiest way of doing that?

[2019-11-22 21:28] mikebronner commented on #68
Hi @zenichanin, thanks for writing in. You should be able to do this easily by following the instructions in the usage section of the readme: https://github.com/GeneaLabs/laravel-mixpanel#usage

You could achieve this by setting up a new middleware where you set the user's information with something like the following code:
[code]

Hope this helps!

[2019-11-22 21:28] #68 closed

[2019-11-25 17:26] zenichanin opened #69 "How to cancel default events for register"
I'm having an issue with user registration. When a user registers, I get `User: Updated` and `User: Registered` events fired off. However, the updated event happens for a distinct id that doesn't match anything in my DB or Mixpanel's database.

I am trying to use `createAlias` from back-end to tie `$user->id` to Mixpanel's `distinct_id`. But this library seems to automatically be creating that ali

[2019-11-25 17:27] zenichanin commented on #69
I will try disabling `enable-default-tracking` for now and see if that helps.

[2019-11-25 17:27] #69 closed

[2020-02-03 22:43] designloud opened #70 "How to track page view"
Now that mixpanel no longer supports auto tracking, how do we track page views.

[2020-02-03 22:44] mikebronner commented on #70
@designloud Can you point to me a reference where they discuss this? Thanks!

[2020-02-04 00:44] designloud commented on #70
Sure @mikebronner here is the article I found in their documentation when trying to enable it.  https://help.mixpanel.com/hc/en-us/articles/115004600343

[2020-02-04 00:47] mikebronner commented on #70
@designloud Thanks for the info! Looks like we'll have to revert to what we have before they added Autotrack. I believe I had automated page tracking built in. I'll have to dig through the git history and implement it again. Not sure how soon I can get to it, as I'm currently loaded with other work. If you want to take a stab at it and look through the Git history (probably 2 years ago or so) and

[2020-02-04 01:06] designloud commented on #70
I'm a complete newbie here but I'll try. :)  I did a search and found this in case it helps provide some direction: https://github.com/GeneaLabs/laravel-mixpanel/commit/20f3ff6d1fe615f4671bfded2f5f4f9eeb2634fb

I will create a PR if I have any luck

[2020-02-04 01:21] mikebronner commented on #70
I think this was the relevant update where I removed it:
https://github.com/GeneaLabs/laravel-mixpanel/commit/0b4d2b6f2583322c29e3ad0d57c2ae5fd5a31018

[2020-03-04 13:56] dependabot-preview[bot] opened #73 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/GeneaLabs/update-logs/25273574).

[2020-03-04 15:04] #73 closed

[2020-04-17 11:43] lmatab opened #75 "Error on Laravel 5.6"
Hi, Thanks for sharing this package.

I am getting this error when trying to install it on Laravel 5.6

Problem 1
    - Installation request for genealabs/laravel-mixpanel ^0.10.1 -> satisfiable by genealabs/laravel-mixpanel[0.10.1].
    - Conclusion: remove laravel/framework v5.6.37
    - Conclusion: don't install laravel/framework v5.6.37
    - genealabs/laravel-mixpanel 0.10.1 requires illumina

[2020-04-17 15:32] mikebronner commented on #75
Hi @lmatab, this package requires Laravel 7. You are free to fork it and make any necessary changes to get it to run on Laravel 5.6, but we are unable to support that. Best of luck! :)

[2020-04-17 15:32] #75 closed

[2020-04-23 07:24] mischasigtermans commented on #52
@mikebronner what about this issue?

[2020-04-23 14:14] mikebronner commented on #52
@mischasigtermans Sorry for the delay on this. I would greatly welcome a PR for this, as I can't promise how soon I can get to this.

[2020-05-02 09:54] aakarim opened #76 "genealabs/laravel-mixpanel 0.10.1 requires illuminate/config ^7.0"
Great package.

My setup is still at Laravel 6.x and I'm getting an error on upgrade to 0.10.1 that's asking me to upgrade to Laravel 7.x, which I'm not ready for yet. Is this dependency necessary? Perhaps it could run Laravel 7.x specific integrations on a different branch?

I'm happy to contribute if needs be.

[2020-05-02 11:01] aakarim commented on #55
on my end I can confirm that the webhook is *not* working for me in Cashier 10.

[2020-05-03 18:06] mikebronner commented on #55
@aakarim Thanks for the update!

[2020-05-03 18:07] mikebronner commented on #76
HI @aakarim, please feel free to fork the package and make any adjustments you need to get it to run on old versions of Laravel. At this time I am only going to be supporting the current version of Laravel.

[2020-05-03 18:07] #76 closed

[2020-05-11 11:30] trisle opened #77 "How do I remove auto User Updated?"
Hi there,

I'm on Laravel 5.4. I'm wondering why my users keep getting User Updated (repeated many times) out of nowhere – when signing in, logging out, performing some random actions... and it keeps repeating.

https://i.imgur.com/4gpFjxZ.png

How do I remove the auto tracking for User Updated? Or, what really triggered this?

Thank you :)

[2020-05-11 14:34] mikebronner commented on #77
Hi @trisle, thanks for writing in! My guess is that there is a bug somewhere, not sure if its this package or not. However, Laravel 5.4 hasn't been supported for a LONG time, so you won't be getting the latest version of the package, that included a lot of bug fixes.

[2020-05-11 14:35] mikebronner commented on #77
Please feel free to respond, I'm just closing this issue now, as we will not be going back and updating previous versions.

[2020-05-11 14:35] #77 closed

[2020-05-11 14:37] trisle commented on #77
Bugga, I'm on a system that can't be upgraded anytime soon.
Was wondering if it's possible to ask you a favor for a check? In return I can gift you a free activity on vibeji.com (good for the lock-down period these days) :)

[2020-05-11 14:38] trisle commented on #77
Ah sorry you beat me by a few secs. No worries :)

[2020-05-11 14:40] mikebronner commented on #77
Sorry about that. Good luck!

[2020-05-11 16:18] trisle commented on #77
Thank you, just one last question.

I tried disabling the auto-tracking in services.php but seems like it's not tracking anymore?

[code]

[2020-05-11 16:37] mikebronner commented on #77
Yes, that turns all the automated tracking off. It is meant for those times where you have manual tracking.

[2020-05-14 13:59] aakarim opened #78 "Changes for ID Merge"
Mixpanel released an update on managing distinct IDs that is opt-in. It looks like, for the most part, there are no issues with updating. With 1 exception:

https://help.mixpanel.com/hc/en-us/articles/360039133851#benefits-of-the-new-system
`You can no longer control the canonical id for users in Mixpanel`

It looks like laravel-mixpanel assigns the user ID as the canonical ID for the user, which

[2020-05-14 14:24] mikebronner commented on #78
@aakarim That's a good idea. Would you be able to submit a PR?

[2020-05-17 15:39] aakarim commented on #78
Sure.

Any suggestions on how to deal with backfilling data?

My proposal is an artisan command: `mixpanel:backfill:user-id` which submits an update to each user's Mixpanel profile.

[2020-05-17 15:40] mikebronner commented on #78
That also sounds interesting ... but should be a separate PR. Thanks!

[2020-08-04 15:12] designvoid opened #79 "Configurable Host Endpoint"
Hi there,

It appears there is now a need to be able to switch the api host for EU accounts - the host is now `api-eu.mixpanel.com`

I have got around this for now by doing the following in my AppServiceProvider

[code]

Not sure if this for the best or wether maybe I should submit a PR to enable setting the host in the services file?

In addition, whilst diving through the code to see how things

[2020-08-04 15:16] mikebronner commented on #79
Hi @designvoid, thanks for bringing this up! I think it would be good to add the host to the config options. I will have to look into the docs about tracking custom events. Chances are good that it is a hold-over from prior functionality. Any PRs you can create would be awesome, it would definitely speed things up.

[2020-08-04 16:41] designvoid commented on #79
Hi @mikebronner I have submitted a PR but there seems to be some issues with the CI pipeline?

[2020-08-04 16:54] mikebronner commented on #79
@designvoid Thanks! I'll take a look later today, time permitting. :) No worries about the CI stuff.

[2020-08-05 19:51] mikebronner commented on #79
I'll be looking at this now ... sorry for the delay, yesterday turned into chaos.

[2020-08-05 21:03] mikebronner commented on #79
@designvoid Can you try release 0.10.3 and let me know how that works for you? Thanks again for taking care of this!!! I will work on the CI another time, it has to be reworked from the ground up.

[2020-08-05 21:03] #79 closed

[2020-09-18 00:19] Arkitecht commented on #54
I have just opened [PR 81](https://github.com/GeneaLabs/laravel-mixpanel/pull/81) to add this functionality

[2020-10-30 08:41] AngelaBinogi opened #82 "Not showing properties with false values in Mixpanel's Live view"
When sending an event with a boolean property that can have the value of true or false, the property is shown when there is true value on the property and is not shown when it’s false.
For instance, I have an event called ‘Test event’ and a db property test_property that has a boolean value (true or false).

`$this->mixPanelClient->track("Test event",    ['Test property' => is_null($test_property)

[2020-10-30 13:28] mikebronner commented on #82
Hi @AngelaBinogi , this sounds like a MixPanel issue, or rather how mix panel functions. You could try logging the bool as a string instead?

[code]

[2020-10-30 17:24] AngelaBinogi opened #83 "Not sending events to Live view in Mixpanel"
While working on a simple event with user properties and one event specific property sometimes I get the event in the **Live view** in Mixpanel and sometimes not. The unit tests pass for it and there is no error logged in.
The event is something like this:

[code]

[2020-11-07 14:25] wassim opened #84 "Laravel 8 support"
Is it possible to add support for Laravel 8?

[code]

[2020-11-07 16:03] mikebronner commented on #84
@wassim Sorry about that, missed this one. Will upgrade in a bit.

[2020-11-07 16:32] mikebronner commented on #84
@wassim Please try release 0.11.0 or greater. Let me know how it works. I made the necessary changes, but will need to rewrite the tests. I wanted to get this out to you as soon as possible.

[2020-11-07 16:32] #84 closed

[2020-11-07 20:27] wassim commented on #84
@mikebronner works fine now. Thanks for fixing this asap, also thank you for making this package, haven't tried it yet but will give thoughts once I do.

[2021-01-05 09:27] pixsolution opened #88 "Problems to install your package"
Hi! I tried to install your package but show me this error
![image (1)](https://user-images.githubusercontent.com/47191848/103629322-738c2e00-4f40-11eb-92d3-53641e1bee80.png)
why is that? I'm using laravel 7.

Regards

[2021-01-05 14:22] mikebronner commented on #88
We only support the latest Laravel version. Feel free to make your own fork and any necessary changes to support older versions.

[2021-01-05 14:22] #88 closed

[2021-01-20 07:22] pixsolution commented on #78
Hello!  Mixpanel's new ID merge function allows you to merge pre authentication and after authentication events (even if they have different distinct id) with your package I guess it works fine with that, doesn't it?  How does your package handle identity because I saw that once the user is authenticated it uses user_id, what id does it assign to pre-authentication events?
on the other hand, if I

[2021-01-20 09:11] pixsolution opened #89 "Custom defaults events"
Hello!  Your package brings default events like login, registration, etc. How do I customize the names of these events?  how/where do I add other properties for these defaults events ex.  first login, last login, lifetime login ....?

[2021-01-20 13:06] pixsolution commented on #78
Hello @mikebronner @aakarim I did the test of the question I asked and I see that it does not work well, I place a track "home SaludVitale" with js following your steps https://github.com/GeneaLabs/laravel-mixpanel#javascript-events--auto-track in the home page and it comes out fine perfect in live view
<img width="578" alt="1" src="https://user-images.githubusercontent.com/47191848/105178269-17bc

[2021-02-17 15:24] dnnp2011 opened #90 "Does not detect alternative Cashier model"
My application uses a Team model instead of the default User model in Cashier, however, your `RecordStripeEvent` class determines the auth model via: `$authModel = config('auth.providers.users.model') ?? config('auth.model');`

Simply updating this to check for Cashier's `CASHIER_MODEL` env variable would fix this issue:

`$authModel = config('cashier.model') ?? (config('auth.providers.users.model

[2021-03-14 23:34] moijafcor commented on #83
//Laravel Framework 8.31.0
//Does not work
$mixPanel = app('mixpanel'); // using app helper
$mixPanel->track('Dashboard');
//Works
$mixPanel = Mixpanel::getInstance(config('services.mixpanel.token'));
$mixPanel->track('Dashboard');

[2021-08-19 10:37] aakarim commented on #55
I have fixed this by specifying the right model to look for a Cashier billable under. #90

[2021-11-26 10:06] nakarimi commented on #88
@mikebronner so may its better to update Requirements and Compatibility as you mentioned it is supporting Laravel >= 7.0 but doesn't, so others will know what is the proper version.

[2021-11-26 11:56] mikebronner commented on #88
@nakarimi Thanks for the documentation issue, will get that updated ASAP.

[2022-02-14 14:56] AlexLightning opened #104 "Laravel 9 support"
Hi!

Can you add Laravel 9 support? When I try to install it says:

` Problem 1
    - Root composer.json requires genealabs/laravel-mixpanel ^0.11.1 -> satisfiable by genealabs/laravel-mixpanel[0.11.1].
    - genealabs/laravel-mixpanel 0.11.1 requires illuminate/auth ^8.0 -> found illuminate/auth[v8.0.0, ..., 8.x-dev] but these were not loaded, likely because it conflicts with another require.`

[2022-02-14 15:35] mikebronner commented on #104
Thanks for the prompt. Will get that done right now.

[2022-02-14 15:35] #104 closed